# Python files
__pycache__/
.venv/
.venv-test/

venv/
.DS_Store
.vscode/
.tool-versions
.python-version
dist/
**.egg-info/
build/

.codegenie/

# Coverage files
.coverage
.coverage.*
coverage.xml
htmlcov/
